@import url('https://fonts.googleapis.com/css?family=Rokkitt');

@font-face {
    font-family: 'EngraversGothicBold';
    src: url('/assets/fonts/EngraversGothic-Bold-webfont.eot');
    src: url('/assets/fonts/EngraversGothic-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/EngraversGothic-Bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/EngraversGothic-Bold-webfont.woff') format('woff'),
    url('/assets/fonts/EngraversGothic-Bold-webfont.ttf') format('truetype'),
    url('/assets/fonts/EngraversGothic-Bold-webfont.svg#EngraversGothic-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EngraversGothicRegular';
    src: url('/assets/fonts/EngraversGothic-Regular-webfont.eot');
    src: url('/assets/fonts/EngraversGothic-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/EngraversGothic-Regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/EngraversGothic-Regular-webfont.woff') format('woff'),
    url('/assets/fonts/EngraversGothic-Regular-webfont.ttf') format('truetype'),
    url('/assets/fonts/EngraversGothic-Regular-webfont.svg#EngraversGothic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FortuneAndFame';
    src: url('/assets/fonts/fortuneandfame_1-webfont.eot');
    src: url('/assets/fonts/fortuneandfame_1-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/fortuneandfame_1-webfont.woff2') format('woff2'),
    url('/assets/fonts/fortuneandfame_1-webfont.woff') format('woff'),
    url('/assets/fonts/fortuneandfame_1-webfont.ttf') format('truetype'),
    url('/assets/fonts/fortuneandfame_1-webfont.svg#EngraversGothic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: $heading;
}

h2 {
    font-size: $sub-heading;
}

h3 {
    font-size: $regular-font-size;
}

h4 {
    font-size: $small-font-size;
}

h5 {
    font-size: $small-font-size;
}