﻿@media (max-width: 991px) {

  .container {
    width: 100%;
    padding: 0 20px;
  }

  header {

    .upper-header {

      .glitter-left {
        left: -160px;
      }

      .glitter-right {
        right: -67px;
      }

      h1 {
        padding-left: 0;
      }
    }

    .lower-header {

      .filters {
        width: 100%;

        .filters-left {
          width: 100%;
          padding-left: 0;
        }

        .filters-right {
          width: 100%;

          .grab-go {
            height: 45px;
            width: 45%;
            margin: auto;

            label {
              padding-top: 12px;
            }
          }
        }
      }
    }
  }

  .gifts {

    .sorting {
      width: 100%;
    }

    .results {
      width: 100%;
      padding-left: 0;

      .gift {
        width: calc(33% - 11px);
        margin-right: 20px;
      }
    }
  }
}