@media (max-width: 767px) {

  header {

    .upper-header {

      .glitter-left {
        left: -160px;
        width: 215px;
      }

      .glitter-right {
        right: -38px;
        width: 76px;
      }

      h1 {
        padding-left: 0;
        margin: auto;
        width: calc(100% - 70px);
      }

      .gift-receiver {
        width: 100%;

        .red-cup {
          left: 10px;
          top: 7px;
        }

        .north-star {
          right: 0;
          top: 5px;
        }

        .gold-heart {
          display: none;
        }

        .receiver-name {
          width: calc(100% - 150px);
          font-size: 40px;
          margin-top: 25px;
          margin-left: 0;
        }
      }
    }

    .lower-header {

      .filters {
        width: 100%;

        label {
          padding: 15px 5px;
          text-align: center;
        }

        .filters-left {
          width: 100%;
          padding-left: 0;

          ul {

            li {
              width: calc(50% - 9px);

              &:nth-child(3n + 3){
                margin-right: 10px;
              }

              &:nth-child(2n + 2) {
                margin-right: 0;
              }
            }
          }
        }

        .filters-right {
          width: 100%;
          padding: 0;

          .grab-go {
            height: 45px;
            width: 100%;
            margin: auto;
          }
        }
      }
    }
  }

  .gifts {

    .sorting {
      width: 100%;

      select {
        width: 100%;
      }

      .sort-by {
        right: initial;
        left: 15px;

        & + span {
          right: initial;
          left: 105px;
        }
      }
    }

    .results {
      width: 100%;
      padding-left: 0;

      .gift {
        width: calc(50% - 10px);
        margin-right: 20px;

        &:nth-child(3n + 3){
          margin-right: 20px;
        }

        &:nth-child(2n + 2) {
          margin-right: 0;
        }
      }
    }
  }
}