@media (max-width: 479px) {

  header {

    .upper-header {

      .gift-receiver {
        width: 100%;

        .red-cup {
          left: -5px;
          top: 23px;
          width: 50px;
        }

        .north-star {
          right: -5px;
          top: 20px;
          width: 60px;
        }

        .receiver-name {
          width: calc(100% - 100px);
          font-size: 40px;
          margin-top: 25px;
        }
      }
    }

    .lower-header {

      .filters {
        font-size: $regular-font-size;

        .filters-right {

          .grab-go {

            label {
              padding-top: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {

  header {

    .upper-header {

      h1 {
        width: calc(100% - 25px);
      }
    }
  }

}