/* Colors */
    $white: #fff;
    $black: #000;
    $border-color: #ddd;
    $light-blue: #2f4265;
    $dark-blue: #11182c;
    $filter-item-selected: #88a3d7;
    $gray-text: #8b8b8b;

/* Fonts and sizes */
    $rokkitt: 'Rokkitt', serif;
    $engravers: 'EngraversGothicRegular', sans-serif;
    $engravers_bold: 'EngraversGothicBold', sans-serif;
    $fortune_fame: 'FortuneAndFame', sans-serif;
    $heading: 32px;
    $sub-heading: 24px;
    $regular-font-size: 16px;
    $small-font-size: 14px;
    $extra-small-font-size: 12px;
    $smallest-font-size: 10px;