header {
  //Header gradient
  background: -moz-radial-gradient(50% 50%, ellipse cover, $light-blue 0, $dark-blue 100%);/* FF3.6+ */
  background: -webkit-radial-gradient(50% 50%, ellipse cover, $light-blue 0, $dark-blue 100%);/* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(50% 50%, ellipse cover, $light-blue 0, $dark-blue 100%);/* Opera 11.10+ */
  background: -ms-radial-gradient(50% 50%, ellipse cover, $light-blue 0, $dark-blue 100%);/* IE10+ */
  background: radial-gradient(50% 50%, ellipse cover, $light-blue 0, $dark-blue 100%);/* W3C */

  color: $white;

  .upper-header {
    position: relative;
    text-align: center;

    h1 {
      font-weight: normal;
      letter-spacing: 4px;
      word-spacing: 1px;
      padding-top: 47px;
      padding-left: 19px;
    }

    .glitter-left {
      position: absolute;
      left: -40px;
      top: -6px;
      width: 249px;
    }

    .glitter-right {
      position: absolute;
      right: -40px;
      top: -5px;
      width: 164px;
    }

    .gift-receiver {
      position: relative;
      margin: auto;
      width: 650px;
      height: 120px;

      .red-cup {
        position: absolute;
        left: 74px;
        top: 7px;
      }

      .north-star {
        position: absolute;
        right: 31px;
        top: 23px;
      }

      .gold-heart {
        position: absolute;
        bottom: 0;
        left: 0px;
      }

      .receiver-name {
        background: transparent;
        border: none;
        border-bottom: 3px solid;
        width: 370px;
        height: 50px;
        margin-top: 11px;
        margin-left: 10px;
        padding-top: 13px;
        text-align: center;
        color: $white;
        font-size: 50px;
        font-family: $fortune_fame;
        box-sizing: border-box;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .lower-header {
    text-align: center;
    position: relative;
    padding-bottom: 25px;

    h2 {
      font-family: $rokkitt;
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 1px;
      margin-top: 3px;
      margin-left: 18px;
    }

    .filters {
      overflow: hidden;
      width: 880px;
      position: relative;
      margin: auto;
      padding-top: 25px;
      font-family: $engravers_bold;
      font-size: 20px;

      input {
        visibility: hidden;
        position: absolute;

        &:checked {

          & + label {
            background-color: $filter-item-selected;
            color: $white;
          }
        }
      }

      label {
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px;
        line-height: 0.9;
        letter-spacing: 3px;
        font-family: $engravers_bold;

        &:hover {
          background-color: $filter-item-selected;
          color: $white;
        }
      }

      .filters-left {
        float: left;
        width: 76%;
        padding-left: 20px;

        ul {

          li {
            display: inline-block;
            width: calc(33% - 10px);
            background: $white;
            color: $dark-blue;
            height: 46px;
            margin-bottom: 12px;
            margin-right: 10px;
            text-align: center;

            &:nth-child(3n + 3) {
              margin-right: 0;
            }
          }
        }
      }

      .filters-right {
        float: left;
        width: 24%;
        padding: 0 15px;

        .grab-go {
          height: 104px;
          background: $white;
          color: $dark-blue;

          label {
            line-height: 1.1;
            padding-top: 32px;
          }
        }
      }
    }


  }
}