<div ng-controller="GiftController">
    <header>
        <div class="container">
            <div class="upper-header">
                <img class="glitter-left" src="/assets/images/Glitter_Top-Left.png" alt="">
                <img class="glitter-right" src="/assets/images/Glitter_Top-Right.png" alt="">
                <h1>FIND THE PERFECT GIFT FOR YOUR</h1>
                <div class="gift-receiver">
                    <img class="red-cup" src="/assets/images/TopCharm-RedCup.png" alt="">
                    <input class="receiver-name" type="text" />
                    <img class="north-star" src="/assets/images/TopCharm-NorthStar.png" alt="">
                    <img class="gold-heart" src="/assets/images/TopCharm-GoldHeart.png" alt="">
                </div>
            </div>
            <div class="lower-header">
                <h2>Start personalizing your gift with:</h2>
                <div class="filters">
                    <div class="filters-left">
                        <ul>
                            <li>
                                <input type="checkbox" ng-model="categories.family" id="family"/>
                                <label for="family">FAMILY</label>
                            </li>
                            <li>
                                <input type="checkbox" ng-model="categories.love" id="love"/>
                                <label for="love">LOVE</label>
                            </li>
                            <li>
                                <input type="checkbox" ng-model="categories.faith" id="faith"/>
                                <label for="faith">FAITH</label>
                            </li>
                            <li>
                                <input type="checkbox" ng-model="categories.hobbies" id="hobbies"/>
                                <label for="hobbies">HOBBIES</label>
                            </li>
                            <li>
                                <input type="checkbox" ng-model="categories.purpose" id="purpose"/>
                                <label for="purpose">PURPOSE</label>
                            </li>
                            <li>
                                <input type="checkbox" ng-model="categories.engraving" id="engraving"/>
                                <label for="engraving">ENGRAVING</label>
                            </li>
                        </ul>
                    </div>
                    <div class="filters-right">
                        <div class="grab-go">
                            <input type="checkbox" ng-model="categories.grabgo" id="grabgo"/>
                            <label for="grabgo">GRAB-N-GO GIFTS</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <div class="gifts">
        <div class="container">
            <div class="sorting">
                <span class="sort-by">Sort by: </span>
                <span>{{giftSorting | lowercase}}</span>
                <select ng-model="giftSorting" ng-init="giftSorting = 'price'">
                    <option value="all">All</option>
                    <option value="title">Name</option>
                    <option value="price">Price</option>
                </select>
            </div>
            <div class="results">
                <h2 ng-if="noResults">No results found</h2>
                <div class="gift" ng-repeat="gift in gifts | bycategory:categories | orderBy: giftSorting">
                    <img src="" ng-src="{{gift.image}}" alt="{{gift.title}}" />
                    <h3>{{gift.title}}</h3>
                    <p>${{gift.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

