/* Colors */
/* Fonts and sizes */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Rokkitt");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box; }
  html:focus, body:focus, div:focus, span:focus, applet:focus, object:focus, iframe:focus,
  h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, p:focus, blockquote:focus, pre:focus,
  a:focus, abbr:focus, acronym:focus, address:focus, big:focus, cite:focus, code:focus,
  del:focus, dfn:focus, em:focus, img:focus, ins:focus, kbd:focus, q:focus, s:focus, samp:focus,
  small:focus, strike:focus, strong:focus, sub:focus, sup:focus, tt:focus, var:focus,
  center:focus, dl:focus, dt:focus, dd:focus, ol:focus, ul:focus, li:focus,
  fieldset:focus, form:focus, label:focus, legend:focus,
  table:focus, caption:focus, tbody:focus, tfoot:focus, thead:focus, tr:focus, th:focus, td:focus,
  article:focus, aside:focus, canvas:focus, details:focus, embed:focus,
  figure:focus, figcaption:focus, footer:focus, header:focus, hgroup:focus,
  menu:focus, nav:focus, output:focus, ruby:focus, section:focus, summary:focus,
  time:focus, mark:focus, audio:focus, video:focus {
    outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'EngraversGothicBold';
  src: url("/assets/fonts/EngraversGothic-Bold-webfont.eot");
  src: url("/assets/fonts/EngraversGothic-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/EngraversGothic-Bold-webfont.woff2") format("woff2"), url("/assets/fonts/EngraversGothic-Bold-webfont.woff") format("woff"), url("/assets/fonts/EngraversGothic-Bold-webfont.ttf") format("truetype"), url("/assets/fonts/EngraversGothic-Bold-webfont.svg#EngraversGothic-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'EngraversGothicRegular';
  src: url("/assets/fonts/EngraversGothic-Regular-webfont.eot");
  src: url("/assets/fonts/EngraversGothic-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/EngraversGothic-Regular-webfont.woff2") format("woff2"), url("/assets/fonts/EngraversGothic-Regular-webfont.woff") format("woff"), url("/assets/fonts/EngraversGothic-Regular-webfont.ttf") format("truetype"), url("/assets/fonts/EngraversGothic-Regular-webfont.svg#EngraversGothic-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FortuneAndFame';
  src: url("/assets/fonts/fortuneandfame_1-webfont.eot");
  src: url("/assets/fonts/fortuneandfame_1-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/fortuneandfame_1-webfont.woff2") format("woff2"), url("/assets/fonts/fortuneandfame_1-webfont.woff") format("woff"), url("/assets/fonts/fortuneandfame_1-webfont.ttf") format("truetype"), url("/assets/fonts/fortuneandfame_1-webfont.svg#EngraversGothic-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 14px; }

html, body {
  font-family: "EngraversGothicRegular", sans-serif;
  height: 100%; }

.container {
  width: 955px;
  margin: auto;
  padding: 0 15px; }

header {
  background: -moz-radial-gradient(50% 50%, ellipse cover, #2f4265 0, #11182c 100%);
  /* FF3.6+ */
  background: -webkit-radial-gradient(50% 50%, ellipse cover, #2f4265 0, #11182c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(50% 50%, ellipse cover, #2f4265 0, #11182c 100%);
  /* Opera 11.10+ */
  background: -ms-radial-gradient(50% 50%, ellipse cover, #2f4265 0, #11182c 100%);
  /* IE10+ */
  background: radial-gradient(50% 50%, ellipse cover, #2f4265 0, #11182c 100%);
  /* W3C */
  color: #fff; }
  header .upper-header {
    position: relative;
    text-align: center; }
    header .upper-header h1 {
      font-weight: normal;
      letter-spacing: 4px;
      word-spacing: 1px;
      padding-top: 47px;
      padding-left: 19px; }
    header .upper-header .glitter-left {
      position: absolute;
      left: -40px;
      top: -6px;
      width: 249px; }
    header .upper-header .glitter-right {
      position: absolute;
      right: -40px;
      top: -5px;
      width: 164px; }
    header .upper-header .gift-receiver {
      position: relative;
      margin: auto;
      width: 650px;
      height: 120px; }
      header .upper-header .gift-receiver .red-cup {
        position: absolute;
        left: 74px;
        top: 7px; }
      header .upper-header .gift-receiver .north-star {
        position: absolute;
        right: 31px;
        top: 23px; }
      header .upper-header .gift-receiver .gold-heart {
        position: absolute;
        bottom: 0;
        left: 0px; }
      header .upper-header .gift-receiver .receiver-name {
        background: transparent;
        border: none;
        border-bottom: 3px solid;
        width: 370px;
        height: 50px;
        margin-top: 11px;
        margin-left: 10px;
        padding-top: 13px;
        text-align: center;
        color: #fff;
        font-size: 50px;
        font-family: "FortuneAndFame", sans-serif;
        box-sizing: border-box; }
        header .upper-header .gift-receiver .receiver-name:focus {
          outline: none; }
  header .lower-header {
    text-align: center;
    position: relative;
    padding-bottom: 25px; }
    header .lower-header h2 {
      font-family: "Rokkitt", serif;
      font-weight: bold;
      font-size: 25px;
      letter-spacing: 1px;
      margin-top: 3px;
      margin-left: 18px; }
    header .lower-header .filters {
      overflow: hidden;
      width: 880px;
      position: relative;
      margin: auto;
      padding-top: 25px;
      font-family: "EngraversGothicBold", sans-serif;
      font-size: 20px; }
      header .lower-header .filters input {
        visibility: hidden;
        position: absolute; }
        header .lower-header .filters input:checked + label {
          background-color: #88a3d7;
          color: #fff; }
      header .lower-header .filters label {
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px;
        line-height: 0.9;
        letter-spacing: 3px;
        font-family: "EngraversGothicBold", sans-serif; }
        header .lower-header .filters label:hover {
          background-color: #88a3d7;
          color: #fff; }
      header .lower-header .filters .filters-left {
        float: left;
        width: 76%;
        padding-left: 20px; }
        header .lower-header .filters .filters-left ul li {
          display: inline-block;
          width: calc(33% - 10px);
          background: #fff;
          color: #11182c;
          height: 46px;
          margin-bottom: 12px;
          margin-right: 10px;
          text-align: center; }
          header .lower-header .filters .filters-left ul li:nth-child(3n + 3) {
            margin-right: 0; }
      header .lower-header .filters .filters-right {
        float: left;
        width: 24%;
        padding: 0 15px; }
        header .lower-header .filters .filters-right .grab-go {
          height: 104px;
          background: #fff;
          color: #11182c; }
          header .lower-header .filters .filters-right .grab-go label {
            line-height: 1.1;
            padding-top: 32px; }

.gifts .sorting {
  width: 910px;
  margin: auto;
  padding-top: 40px;
  overflow: hidden;
  position: relative;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: lowercase; }
  .gifts .sorting select {
    float: right;
    height: 50px;
    width: 267px;
    font-family: "EngraversGothicRegular", sans-serif;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-align: left;
    text-indent: -9999px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(/assets/images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: right 7px center;
    background-size: 22px;
    color: #8b8b8b; }
    .gifts .sorting select:focus {
      outline: none; }
    .gifts .sorting select::-ms-expand {
      display: none; }
  .gifts .sorting .sort-by {
    position: absolute;
    right: 166px;
    top: 56px;
    font-family: "EngraversGothicBold", sans-serif;
    color: #8b8b8b;
    pointer-events: none; }
    .gifts .sorting .sort-by + span {
      position: absolute;
      right: 75px;
      top: 56px;
      text-align: left;
      width: 80px;
      display: inline-block;
      pointer-events: none; }

.gifts .results {
  width: 920px;
  margin: auto;
  margin-top: 30px;
  overflow: hidden;
  padding-left: 20px; }
  .gifts .results .gift {
    width: calc(33% - 35px);
    float: left;
    margin-right: 55px;
    margin-bottom: 55px; }
    .gifts .results .gift:nth-child(3n + 3) {
      margin-right: 0; }
    .gifts .results .gift img {
      width: 100%; }
    .gifts .results .gift h3 {
      text-align: center;
      font-size: 20px;
      letter-spacing: 2px;
      padding: 8px;
      text-transform: lowercase;
      font-family: "EngraversGothicBold", sans-serif;
      color: #8b8b8b; }
    .gifts .results .gift p {
      font-size: 18px;
      font-family: "EngraversGothicBold", sans-serif;
      text-align: center;
      color: #8b8b8b; }

@media (max-width: 1024px) {
  .container {
    overflow-x: hidden; } }

@media (max-width: 991px) {
  .container {
    width: 100%;
    padding: 0 20px; }
  header .upper-header .glitter-left {
    left: -160px; }
  header .upper-header .glitter-right {
    right: -67px; }
  header .upper-header h1 {
    padding-left: 0; }
  header .lower-header .filters {
    width: 100%; }
    header .lower-header .filters .filters-left {
      width: 100%;
      padding-left: 0; }
    header .lower-header .filters .filters-right {
      width: 100%; }
      header .lower-header .filters .filters-right .grab-go {
        height: 45px;
        width: 45%;
        margin: auto; }
        header .lower-header .filters .filters-right .grab-go label {
          padding-top: 12px; }
  .gifts .sorting {
    width: 100%; }
  .gifts .results {
    width: 100%;
    padding-left: 0; }
    .gifts .results .gift {
      width: calc(33% - 11px);
      margin-right: 20px; } }

@media (max-width: 767px) {
  header .upper-header .glitter-left {
    left: -160px;
    width: 215px; }
  header .upper-header .glitter-right {
    right: -38px;
    width: 76px; }
  header .upper-header h1 {
    padding-left: 0;
    margin: auto;
    width: calc(100% - 70px); }
  header .upper-header .gift-receiver {
    width: 100%; }
    header .upper-header .gift-receiver .red-cup {
      left: 10px;
      top: 7px; }
    header .upper-header .gift-receiver .north-star {
      right: 0;
      top: 5px; }
    header .upper-header .gift-receiver .gold-heart {
      display: none; }
    header .upper-header .gift-receiver .receiver-name {
      width: calc(100% - 150px);
      font-size: 40px;
      margin-top: 25px;
      margin-left: 0; }
  header .lower-header .filters {
    width: 100%; }
    header .lower-header .filters label {
      padding: 15px 5px;
      text-align: center; }
    header .lower-header .filters .filters-left {
      width: 100%;
      padding-left: 0; }
      header .lower-header .filters .filters-left ul li {
        width: calc(50% - 9px); }
        header .lower-header .filters .filters-left ul li:nth-child(3n + 3) {
          margin-right: 10px; }
        header .lower-header .filters .filters-left ul li:nth-child(2n + 2) {
          margin-right: 0; }
    header .lower-header .filters .filters-right {
      width: 100%;
      padding: 0; }
      header .lower-header .filters .filters-right .grab-go {
        height: 45px;
        width: 100%;
        margin: auto; }
  .gifts .sorting {
    width: 100%; }
    .gifts .sorting select {
      width: 100%; }
    .gifts .sorting .sort-by {
      right: initial;
      left: 15px; }
      .gifts .sorting .sort-by + span {
        right: initial;
        left: 105px; }
  .gifts .results {
    width: 100%;
    padding-left: 0; }
    .gifts .results .gift {
      width: calc(50% - 10px);
      margin-right: 20px; }
      .gifts .results .gift:nth-child(3n + 3) {
        margin-right: 20px; }
      .gifts .results .gift:nth-child(2n + 2) {
        margin-right: 0; } }

@media (max-width: 479px) {
  header .upper-header .gift-receiver {
    width: 100%; }
    header .upper-header .gift-receiver .red-cup {
      left: -5px;
      top: 23px;
      width: 50px; }
    header .upper-header .gift-receiver .north-star {
      right: -5px;
      top: 20px;
      width: 60px; }
    header .upper-header .gift-receiver .receiver-name {
      width: calc(100% - 100px);
      font-size: 40px;
      margin-top: 25px; }
  header .lower-header .filters {
    font-size: 16px; }
    header .lower-header .filters .filters-right .grab-go label {
      padding-top: 14px; } }

@media (max-width: 375px) {
  header .upper-header h1 {
    width: calc(100% - 25px); } }
