.gifts {

  .sorting {
    width: 910px;
    margin: auto;
    padding-top: 40px;
    overflow: hidden;
    position: relative;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: lowercase;

    select {
      float: right;
      height: 50px;
      width: 267px;
      font-family: $engravers;
      padding-left: 15px;
      font-size: 18px;
      letter-spacing: 2px;
      text-transform: lowercase;
      text-align: left;
      text-indent: -9999px;
      -moz-appearance: none;
      -webkit-appearance:none;
      background-image: url(/assets/images/arrow.jpg);
      background-repeat: no-repeat;
      background-position: right 7px center;
      background-size: 22px;
      color: $gray-text;

      &:focus {
        outline: none;
      }


      &::-ms-expand {
        display: none;
      }
    }

    .sort-by {
      position: absolute;
      right: 166px;
      top: 56px;
      font-family: $engravers_bold;
      color: $gray-text;
      pointer-events: none;

      & + span {
        position: absolute;
        right: 75px;
        top: 56px;
        text-align: left;
        width: 80px;
        display: inline-block;
        pointer-events: none;
      }
    }
  }

  .results {
    width: 920px;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    padding-left: 20px;

    .gift {
      width: calc(33% - 35px);
      float: left;
      margin-right: 55px;
      margin-bottom: 55px;

      &:nth-child(3n + 3) {
        margin-right: 0;
      }

      img {
        width: 100%;
      }

      h3 {
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 8px;
        text-transform: lowercase;
        font-family: $engravers_bold;
        color: $gray-text;
      }

      p {
        font-size: 18px;
        font-family: $engravers_bold;
        text-align: center;
        color: $gray-text;
      }

    }
  }
}